*{
    font-family: Arial;
    font-size: 15px;
}
body{
    background-color: #EBD373;
}
header{
    height: 80px;
    width: 100%;
    background-color: #EBD373;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    top: 0
}
main{
    margin: 80px 10px;
}
h2, h3{
    font-size: 25px;
    text-align: center;
}
.navigation__item{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    background-color: #51E3EB;
    color: #E82E2A;
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
.title{
    text-align: center;
    margin: 5px;
    font-size: 50px;
    font-style: italic;
    font-family: "Franklin Gothic Heavy";
}
.warning{
    background-color: #E82E2A;
    padding: 10px;
    border-radius: 10px;
}
.info{
    border: 5px dotted #EBB53D;
    padding: 10px;
}
.info__item{
    margin: 5px;
}
.formula{
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}
.offer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.offer__item{
    background-color: #EBB53D;
    border-radius: 10px;
    border: 3px dashed black;
    width: 30%;
    margin: 10px;
}

.offer__pict{
    display: block;
    height: auto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    /*max-height: 200px;*/
    /*max-width: 200px;*/
}
.offer__name{
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #51E3EB;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.offer__link{
    text-decoration: none;
    color: #E82E2A;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.offer__description{
    text-align: center;
    width: 90%;
}
.timetable{
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
    margin: 20px;
    border: solid 3px black;
}
.timetable__title{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border: solid 1px black;
}
.timetable__item{
    font-size: 20px;
    text-align: center;
    border: solid 1px black;
}
.timetable > *:nth-child(4n),
.timetable > *:nth-child(4n + 1){
    background-color: #EBD373;
}
.timetable > *:nth-child(4n + 2),
.timetable > *:nth-child(4n + 3){
    background-color: #EBB53D;
}
footer{
    background-color: #EBB53D;
    display: flex;
    justify-content: space-around;
}
.contacts{
    width: 45%;
    border-radius: 10px;
    border: solid 2px black;
}
.contacts__type{
    font-weight: bolder;
}
.contacts__value{
    font-style: italic;
}
.partners{
    width: 45%;
    border-radius: 10px;
    border: solid 2px black;
}

@media not screen and (min-width: 800px){
    .formula{
        display: none;
    }
    .formula__header{
        display: none;
    }
}

@media not screen and (min-width: 950px){
    .offer__item{
        width: 25%;
    }
}

@media not screen and (min-width: 700px){
    .offer{
        display: none;
    }
    .offer__header{
        display: none;
    }
}

@media not screen and (min-width: 600px){
    .navigation{
        display: none;
    }
}
@media not screen and (min-width: 400px){
    .title{
        font-size: 40px;
    }
}